@mixin blur($value) {
    backdrop-filter: blur($value);
    -webkit-backdrop-filter: blur($value);
}

$border: rgb(190, 253, 255, 0.05) solid 1px;
$special-border: rgba(190, 214, 234, 0.1) 1px solid;

.wrapper {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; //
    padding: 30px 50px;
    row-gap: 20px;
    background-image: url('../../public/images/main/bg.png');
    overflow: hidden;
    min-width: 1400px;

    @media (max-width: 1024px) {
        padding: 15px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    z-index: 2;
    color: #fff;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 10px;
}

%header-item {
    background: rgb(255, 255, 255, 0.06);
    border-radius: 15px;
    border: $border;
    @include blur(20px)
}

.header__logo {
    @extend %header-item;
    padding: 10px 15px;

    @media (max-width: 500px) {
        padding: 5px 10px;
        border-radius: 7px;
    }
}

.header__logo-img {
    width: 200px;

    @media (max-width: 1024px) {
        width: 200px;
    }

    @media (max-width: 500px) {
        width: 150px;
    }
}

.header__buttons {
    @extend %header-item;
    display: flex;
    padding: 15px;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    letter-spacing: 0.03cm;
    overflow: hidden;
    cursor: pointer;

    span {
        cursor: pointer;
        border-radius: 10px;
        background: rgb(255, 255, 255, 0.04);
        padding: 5px 13px;
        display: flex;
        column-gap: 5px;
        align-items: center;

        svg {
            width: 13px;
        }
    }
}

.main {
    display: flex;
    flex: 1 1 auto;
    background: rgb(255, 255, 255, 0.06);
    border: $border;
    border-left: unset;
    border-radius: 15px;
}

.main__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100px;
    color: #fff;
    background: rgb(255, 255, 255, 0.01);
    border: $border;
    border-radius: 0 15px 15px 0;
    border-radius: 15px;
}

%menu-item {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    border: rgb(190, 253, 255, 0) solid 1px;

    &:hover {
        border: rgb(255, 255, 255, 0.1) solid 1px;

        svg {
            color: #fff;
        }
    }

    svg {
        transition: 0.2s;
        -webkit-transition: 0.2s;
        color: #d7d6d6;
    }
}

.main__nav-el {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100px;
    width: 100%;
    background: rgb(255, 255, 255, 0.03);
    border-radius: 15px;
    z-index: 2;

    @extend %menu-item;

    svg {
        width: 30px;
        height: 30px;
    }
}

.main__info {
    flex: 1 1 auto;
    padding: 30px;
    color: #fff;
}

.main__info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
        flex-wrap: wrap;
        row-gap: 5px;
    }

    h1 {
        font-size: 35px;
        text-shadow: #fff 0 0 1.5px;
    }
}

.info-progress {
    background: rgb(255, 255, 255, 0.03);
    border: $border;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    column-gap: 10px;
    align-items: center;

    svg {
        width: 15px;
    }
}

.main__info-description {
    margin-top: 15px;
    font-size: 20px;
    max-width: 1600px;
    margin-bottom: 15px;
}

.main__info-table {
    border-collapse: collapse;

    tbody {
        background: rgb(255, 255, 255, 0.03);
        border: $border;
        border-radius: 10px;
    }

    th {
        border-bottom: $border;
        padding: 8px;
    }

    td {
        width: 400px;
        padding: 5px;
    }

    td:nth-child(1) {
        border-right: $border;
    }

    td:nth-child(3) {
        border-left: $border;
    }
}

.outlined {
    background: rgba(255, 255, 255, 0.03);
    border: rgba(190, 253, 255, 0.05) solid 1px;
    padding: 5px 13px;
    border-radius: 5px;
    font-size: 17px;
    display: flex;
    column-gap: 5px;
    width: fit-content;
    justify-content: center;
    align-items: center;

    svg {
        width: 13px;
    }
}

.outlined_mini {
    padding: 3px 7px;
}

.outlined_easy {
    background: rgba(35, 255, 47, 0.03);
    border: rgba(35, 255, 47, 0.1) 1px solid;
}

.outlined_medium {
    @extend .outlined_mini;
    background: rgba(255, 200, 76, 0.03);
    border: rgba(255, 200, 76, 0.1) 1px solid;
}

.outlined_hard {
    @extend .outlined_mini;
    border: rgba(255, 65, 85, 0.1) 1px solid;
    background: rgba(255, 65, 85, 0.05);
}

.td-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.table__content {
    background: rgba(255, 255, 255, 0.025);
    padding: 10px 15px !important;
    border-bottom: $border;
}

.table__content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;

    .outlined_mini {
        padding: 3px 20px;
        background: rgba(255, 200, 230, 0.05);
        min-width: max-content;
    }
}

.table__content-inner_completed {
    @extend .table__content-inner;
    text-decoration: line-through;

    .outlined_mini {
        padding: 5px 25px;
        min-width: 90px;
    }
}

.main__info-bottom {
    margin-top: 20px;
    display: flex;
    column-gap: 20px;

    flex-wrap: wrap;
    row-gap: 20px;
}

.special {
    background: rgba(190, 214, 234, 0.07);
    border: $special-border;
    width: fit-content;
    border-radius: 10px;
}

.special__top {
    padding: 10px;
    color: #cbe7fc;
    font-size: 17px;
    border-bottom: $special-border;

    svg {
        margin-right: 3px;
    }
}

.special__content {
    max-width: 400px;
    padding: 15px;
    border-bottom: $special-border;
}

.special__highlight {
    color: #cbe7fc;
}

%special-coins {
    padding: 3px 15px;
    background: rgba(255, 200, 230, 0.05);
    min-width: max-content;
}

.special__bottom {
    min-height: 38px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;

    span {
        font-size: 15px;
    }

    div {
        @extend %special-coins
    }
}

.special__days {
    border-bottom: $special-border;
    padding: 5px 0;
    width: 255px;

    .special__days-inner:not(:nth-last-child(1)) {
        margin-bottom: 5px;
    }
}

.special__days-inner {
    background: rgba(255, 255, 255, 0.025);
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        font-size: 15px;
        @extend %special-coins
    }
}

.nav {
    min-height: 75px;
    padding: 15px;
    display: flex;
    background: rgb(255, 255, 255, 0.06);
    border: $border;
    border-radius: 15px;
    align-items: center;
    column-gap: 15px;
    color: #fff;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    .outlined {
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        padding: 3px 15px;
        z-index: 2;

        @extend %menu-item;

        svg {
            width: 15px;
        }
    }
}