@mixin blur($value) {
    backdrop-filter: blur($value);
    -webkit-backdrop-filter: blur($value);
}

$border: rgb(190, 253, 255, 0.05) solid 1px;

.wrapper {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 50px;
    row-gap: 20px;
    overflow: hidden;

    @media (max-width: 1024px) {
        padding: 10px 5px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    z-index: 2;
    color: #fff;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 10px;

    @media (max-width: 768px) {
        div:nth-child(2) {
            flex: 1 1 auto;
        }
    }
}

%header-item {
    background: rgb(255, 255, 255, 0.06);
    border-radius: 15px;
    border: $border;
    @include blur(20px);
}

.header__logo {
    @extend %header-item;
    padding: 10px 15px;

    @media (max-width: 500px) {
        padding: 5px 10px;
        border-radius: 7px
    }
}

.header__logo-img {
    width: 200px;

    @media (max-width: 1024px) {
        width: 200px;
    }

    @media (max-width: 500px) {
        width: 150px;
    }
}

.header__buttons {
    @extend %header-item;
    display: flex;
    padding: 15px;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    letter-spacing: 0.03cm;
    overflow: hidden;
    cursor: pointer;

    span {
        cursor: pointer;
        border-radius: 10px;
        background: rgb(255, 255, 255, 0.04);
        padding: 5px 13px;
        display: flex;
        column-gap: 5px;
        align-items: center;

        @media (max-width: 600px) {
            padding: 3px 10px;
            font-size: 4vw;
            white-space: nowrap;
            border-radius: 7px;
        }

        svg {
            width: 13px;

            @media (max-width: 600px) {
                width: 2vw;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 15px 5px;
        justify-content: space-around;
        border-radius: 7px;
    }
}

.main {
    display: flex;
    flex: 1 1 auto;
    background: rgb(255, 255, 255, 0.06);
    border: $border;
    border-left: unset;
    border-radius: 15px;

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}

.main__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100px;
    max-height: 750px;
    color: #fff;
    background: rgb(255, 255, 255, 0.01);
    border: $border;
    border-radius: 0 15px 15px 0;
    border-radius: 15px;

    @media (max-width: 1024px) {
        flex-direction: row;
        width: 100% !important;
    }
}

%menu-item {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    border: rgb(190, 253, 255, 0) solid 1px;

    &:hover {
        border: rgb(255, 255, 255, 0.1) solid 1px;

        svg {
            color: #fff;
        }
    }

    svg {
        transition: 0.2s;
        -webkit-transition: 0.2s;
        color: #d7d6d6;
    }
}

.main__nav-el {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100px;
    width: 100%;
    background: rgb(255, 255, 255, 0.03);
    border-radius: 15px;
    z-index: 2;

    @extend %menu-item;

    svg {
        height: 30px;

        @media (max-width: 1024px) {
            height: 4vw;
        }

        @media (max-width: 500px) {
            height: 5vw;
        }
    }

    @media (max-width: 1024px) {
        height: 10vw;
        width: 10vw;
    }

    @media (max-width: 500px) {
        height: 15vw;
        width: 15vw;
        border-radius: 7px;
    }
}

@import "../../styles/main-info";

.nav {
    min-height: 75px;
    padding: 15px;
    display: flex;
    background: rgb(255, 255, 255, 0.06);
    border: $border;
    border-radius: 15px;
    align-items: center;
    column-gap: 15px;
    color: #fff;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1024px) {
        min-height: 60px;
        padding: 5px;
        column-gap: 10px;
    }

    .outlined {
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        padding: 3px 15px;
        z-index: 2;

        @extend %menu-item;

        @media (max-width: 1024px) {
            font-size: 15px;
            padding: 5px 15px;
        }

        svg {
            width: 15px;

            @media (max-width: 1024px) {
                width: 15px;
            }
        }
    }
}